$color_1: #242424;
$color_2: #ffffff;
$color_3: #cccccc;
$color_4: #e0181e;
$color_5: #525252;
$color_6: #049c9c;
$color_7: #858585;
$color_8: #ff8000;
$font_family_1: "Open Sans", sans-serif;
$background_color_1: #242424;
$background_color_2: #e0181e;
$background_color_3: #f72e35;
$background_color_4: #049c9c;
$background_color_5: #ff8000;
$border_color_1: #ff8000;
$border_color_2: #cccccc;
$border_color_3: #049c9c;
$border_color_4: #e0181e;

$breakpoint-min: 320px;
$breakpoint-phone: 768px;

@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap";

* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
    font-family: $font_family_1;
    font-size: 16px;
    color: $color_1;
    overflow-x: hidden;
}
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
applet {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
object {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h4 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h5 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    quotes: none;
    &:before {
        content: "";
        content: none;
    }
    &:after {
        content: "";
        content: none;
    }
}
pre {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: $color_2;
    text-decoration: none;
}
abbr {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
acronym {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
address {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
big {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
cite {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
code {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
del {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
dfn {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
em {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ins {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
kbd {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
q {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    quotes: none;
    &:before {
        content: "";
        content: none;
    }
    &:after {
        content: "";
        content: none;
    }
}
s {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
samp {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
small {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
strike {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
strong {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
sub {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
sup {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
tt {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
b {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
u {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
center {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
dl {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
dt {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
dd {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
legend {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-collapse: collapse;
    border-spacing: 0;
}
caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
tbody {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
tfoot {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
thead {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
tr {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
th {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
aside {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
canvas {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
details {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
embed {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
figure {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
hgroup {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
menu {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
output {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ruby {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
}
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
time {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
mark {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
hr {
    border: 0;
    border-top: 1px solid;
    border-color: $border_color_2;
}
.header-autentication {
    color: $color_2;
    background-color: $background_color_1;
    font-size: 14px;
    text-align: right;
    a {
        text-decoration: underline;
    }
    div {
        max-width: 1200px;
        margin: auto;
        padding: 5px;
    }
    span {
        padding: 25px;
    }
}
.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 25px 0;
    div {
        padding: 0 15px;
    }
    img {
        width: 200px;
    }
    .container-search {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin-right: 15px;
        input[type="search"] {
            padding: 8px;
            width: 100%;
            border: solid 1px;
            border-color: $border_color_2;
        }
        button {
            background-color: $background_color_2;
            border: solid 1px;
            border-color: $border_color_4;
            color: $color_2;
            padding: 8px 15px;
            font-weight: 800;
            float: right;
            cursor: pointer;
            text-transform: uppercase;
            &:hover {
                background-color: $background_color_3;
                transition: 0.3s;
            }
        }
    }
    .search-mobile {
        display: none;
        color: $color_4;
        i {
            font-size: 25px;
            padding-right: 10px;
            cursor: pointer;
        }
    }
    .nav-mobile {
        display: none;
        i {
            font-size: 25px;
            padding-left: 10px;
            cursor: pointer;
        }
    }
}
.header-nav {
    background-color: $background_color_2;
    color: $color_2;
    div {
        max-width: 1200px;
        margin: auto;
        padding: 15px 0;
    }
    span {
        display: inline-block;
        padding: 0 30px 0 20px;
        font-weight: 800;
        text-transform: uppercase;
    }
    a {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.header-breadcrumb {
    max-width: 1200px;
    margin: auto;
}
ul.breadcrumb {
    list-style: none;
    padding: 20px 20px;
    li {
        display: inline;
        font-size: 14px;
        a {
            color: $color_1;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &:last-child {
            color: $color_4;
            cursor: default;
        }
    }
    li + li {
        &:before {
            padding: 0 5px;
            color: $color_3;
            content: "\003E";
        }
    }
}
main {
    max-width: 1200px;
    margin: auto;
}
.container-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 20px;
}
.container-filter {
    width: 18%;
    min-width: 180px;
    padding: 15px;
    border: solid 1px;
    border-color: $border_color_2;
    h4 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        color: $color_4;
        margin-bottom: 20px;
    }
    a {
        color: $color_5;
        cursor: pointer;
        &:hover {
            color: $color_4;
        }
    }
}
.container-products {
    width: 82%;
    hr {
        margin-left: 15px;
        margin-right: 15px;
    }
}
.filter-category {
    h3 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $color_6;
    }
    ul {
        color: $color_5;
        list-style-position: inside;
        list-style-type: disc;
    }
    li {
        line-height: 30px;
        font-weight: 300;
        margin: 0;
    }
    margin-bottom: 25px;
}
.filter-colors {
    h3 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $color_6;
    }
    div {
        display: inline-block;
        width: 40px;
        height: 20px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    margin-bottom: 25px;
}
.filter-types {
    h3 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $color_6;
    }
    ul {
        color: $color_5;
        list-style-position: inside;
        list-style-type: disc;
    }
    li {
        line-height: 30px;
        font-weight: 300;
        margin: 0;
    }
}
.products-title {
    margin: 0 15px;
    h3 {
        color: $color_4;
        font-size: 28px;
    }
}
.container-products-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}
.products-view {
    i {
        font-size: 20px;
        color: $color_7;
        cursor: pointer;
        margin-right: 5px;
    }
    i.active {
        color: $color_6;
    }
}
.products-order {
    label {
        color: $color_7;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        margin-right: 10px;
    }
    select {
        width: 160px;
        border: solid 1px;
        border-color: $border_color_2;
        border-radius: 5px;
        padding: 2px 10px;
    }
}
.container-products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.products-item {
    width: 185px;
    height: 200px;
    text-align: center;
    margin: 10px 10px 160px 10px;
    button {
        width: 100%;
        margin: 15px 0;
        padding: 8px 0;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color_2;
        background-color: $background_color_4;
        border: solid 1px;
        border-color: $border_color_3;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            background-color: $background_color_5;
            border-color: $border_color_1;
            transition: 0.2s;
        }
    }
}
.products-item-img {
    width: 185px;
    height: 200px;
    border: solid 1px;
    border-color: $border_color_2;
    margin-bottom: 10px;
    cursor: pointer;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}
.products-item-title {
    height: 45px;
    cursor: pointer;
    h2 {
        color: $color_7;
        text-transform: uppercase;
    }
}
.products-item-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-new-price {
    color: $color_4;
    font-size: 18px;
    font-weight: 700;
    margin: 0 5px;
}
.products-old-price {
    color: $color_7;
    text-decoration: line-through;
    font-weight: 300;
}
.pagination-container {
    max-width: 1200px;
    margin: auto;
}
.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    i {
        color: $color_6;
        &:hover {
            color: $color_4;
        }
    }
    a {
        color: $color_7;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        &:hover:not(.active) {
            text-decoration: underline;
        }
    }
    a.active {
        font-weight: 700;
        color: $color_4;
    }
}
.container-footer {
    max-width: 1200px;
    margin: auto;
    div {
        background-color: $background_color_2;
        height: 150px;
        margin: 0 20px 30px 20px;
    }
}

@media (max-width: 825px) {
	.header-main {
		.header-nav {
            display: none;
		}
		.container-search {
			display: none;
        }
        .header-banner {
            justify-content: space-between;
            padding-bottom: 0;
        }
        .header-banner .search-mobile,
        .header-banner .nav-mobile {
            display: inline-block;
        }
        .header-banner img {
            width: 100%;
            max-width: 200px;
        }
        .header-autentication {
            text-align: center;
        }
    
        .header-autentication span {
            padding: 0;
        }
    }

    .container-products-list {
        justify-content: space-evenly;
    }    
}

@media (max-width: 500px) {
    .container-main {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .container-main .container-filter,
    .container-main .container-products{
        width: 100%;
    }

    .container-main .container-filter {
        margin-bottom: 30px;
    }

    .container-main .products-title, .container-main .container-products-order, .container-main hr {
        margin-left: 0;
        margin-right: 0;
    }

    .products-view {
        display: none;
    }
}